@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}

.logo1 {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.alinear {
  text-align: right;
  display: inline-block;
}

.camionaligne {
  display: inline-block;
  padding: 0 30px;
  color: #080D0A;
  text-align: center;
  width: 100%;
}

.svgsize {
  width: 50px;
  height: 50px;
}

.sepprodicon {
  padding: 35px 0px 0px 25px;
}

.border {
  border-style: solid;
  border-width: 1px;
  padding: 25px;
  margin: 25px;
}

.sectioncontainer {
  padding-top: 5px flex-wrap nowrap display flex background-color #f1f1f1 width 100px;
  margin: 10px text-align center line-height 75px font-size 30px text-decoration none;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
}

.imagenprod {
  width: 250px;
  height: 220px;
  padding: 0% 30px;
}

.divsep {
  display: inline-block;
  margin: 15px 15px;
}

.septext {
  margin: 30px;
}

.texto-prod {
  text-align: center;
  color: rgb(8, 8, 8);
  font-weight: bold;
  font-size: large;
  margin: 0%;
}

.sectionaligner2, .content, .title, .sectioncontainer {
  text-align: center;
}

.alineacionredes {
  padding: 20px 25px;
  text-align: center;
  background-color: black;
  color: #8C5637;
  width: 100%;
}

.redes {
  width: 25px;
  height: 25px;
  padding: 0 20px;
  color: aliceblue;
}

.textonav {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
}

.textdescripcion {
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
  font-weight: lighter;
  font-family: "Franklin Gothic lighter", "Arial Narrow", Arial, sans-serif;
  margin: 1% 5%;
}

.sizer {
  width: 640px;
  height: auto;
}

.title {
  font-size: 4rem;
  color: #080D0A;
  text-decoration: none;
  font-weight: bold;
}

.container404 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: 745px;
}

.content {
  margin-bottom: 30px;
}

.back404 {
  background-image: url(../imagenes/tramado404.avif);
  background-size: cover;
  background-repeat: repeat;
}

.items {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 5%;
}

.grid-containercam {
  display: grid;
  place-items: center;
  grid-row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "grid-itema grid-itemb grid-itemc grid-itemd";
}
.grid-containercam .grid-itema {
  grid-area: grid-item1;
}
.grid-containercam .grid-itemb {
  grid-area: grid-item2;
}
.grid-containercam .grid-itemc {
  grid-area: grid-item3;
}
.grid-containercam .grid-itemd {
  grid-area: grid-item4;
}

.contacto-portobellos {
  width: none;
  height: auto;
}

.logo {
  width: 80px;
  height: auto;
  margin: 10px;
}

.h1 {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 2%;
}

.texth2 {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  margin: 5px 20px;
}

.fondonewsletter {
  background-color: #F2F2F2;
  text-align: center;
  color: rgb(7, 7, 7);
  font-weight: bold;
  font-size: 1.3em;
  margin: 0%;
  padding: 5px;
  border-style: solid;
  border-width: 0.5px;
}

.ingresomail {
  margin: 0px auto;
  padding: 5px;
  border: rgb(7, 7, 7) 5px;
  border-radius: 10%;
}

.botonsuscribir {
  background-color: whitesmoke;
  color: rgb(7, 7, 7);
  font-size: 1em;
  text-decoration: none;
  border-radius: 10%;
}

.grid-container {
  display: grid;
  place-items: center;
  grid-row-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "grid-item1 grid-item2" "grid-item3 grid-item4";
}
.grid-container .grid-item1 {
  grid-area: grid-item1;
}
.grid-container .grid-item2 {
  grid-area: grid-item2;
}
.grid-container .grid-item3 {
  grid-area: grid-item3;
}
.grid-container .grid-item4 {
  grid-area: grid-item4;
}

.img-portobellos {
  width: none;
  height: auto;
}

.img-header {
  width: 500px;
  height: auto;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px black;
}

.image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 3rem;
  color: aliceblue;
}

.textdes {
  text-align: center;
}

.texth2 {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  margin: 5p 20px;
}

.animatexto {
  opacity: 0; /* párrafo oculto */
  animation: fadeIn 5s 1s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animatitulo {
  opacity: 0; /* El párrafo estará oculto al principio */
  color: #8C5B3F; /* Color inicial del texto (marrón) */
  animation: fadeIn2 3s 1s both;
}

@keyframes fadeIn2 {
  0% {
    opacity: 0; /* Comenzamos con opacidad 0 */
    color: #8C5B3F; /* Color inicial del texto (marrón) */
  }
  100% {
    opacity: 1; /* Terminamos con opacidad 1 */
    color: black; /* Color final del texto (negro) */
  }
}
.imagennos1 {
  width: 100%;
  height: auto;
  padding: 15px;
}

.gridnos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.sesion-flexer-nos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.form-container {
  max-width: 400px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.sesion-flexer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: none;
}

.sesion-container {
  width: 450px;
  height: auto;
}

@media (width < 1874px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "grid-item1" "grid-item2" "grid-item3" "grid-item4";
  }
}
@media (width < 1125px) {
  .sesion-flexer {
    flex-direction: column;
  }
}
@media (width < 1085px) {
  .camionaligne {
    width: 50%;
  }
}
@media (width < 930px) {
  .grid-containercam {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "grid-itema" "grid-itemb" "grid-itemc" "grid-itemd";
  }
  main {
    padding: 0px 15px;
  }
  .img-portobellos {
    width: 100%;
    height: auto;
  }
}
@media (width < 650px) {
  .contacto-portobellos {
    width: 100%;
  }
}
@media (width < 450px) {
  .sesion-container {
    width: 100%;
  }
}

/*# sourceMappingURL=newstyle.css.map */
