//fondo 
body{
    background-image: url(/imagenes/afono2.avif);
    background-repeat: repeat;
    color: black;
    margin: 0;
}

//logo
.logo1 {
    width: 60px;
    height: 60px;
    padding: 5px;
}

.alinear {
    text-align: right;
    display: inline-block;
}

// camion etc

.divalign {
    text-align: center;
}

.camionaligne {
    display: inline-block;
    padding: 0 30px;
    color: #080D0A;
}

.svgsize {
    width: 50px;
    height: 50px;
} 

.sepprodicon {
    padding: 35px 0px 0px 25px;
}

.border {
    border-style: solid;
    border-width: 1px;
    padding: 25px;
    margin: 25px;
}

//chat gpt
  

//productos
.sectioncontainer {
    text-align: center;
    padding-top: 5px;
    flex-wrap: nowrap;
    display: flex;
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    text-decoration: none;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }

.imagenprod {
    width: 250px;
    height: 220px;
    padding: 0% 30px;
}

.divsep {
    display: inline-block;
    margin: 15px 15px;
}

.septext {
    margin: 30px;
}

.texto-prod {
    text-align: center;
    color: rgb(8, 8, 8);
    font-weight: bold;
    font-size: large;
    margin: 0%;
}


//footer
.sectionaligner2 {
    text-align: center;
}

.alineacionredes {
    padding: 20px 25px;
    text-align: center;
    background-color: black;
    color: #8C5637;
}
.redes {
    width: 25px;
    height: 25px;
    padding: 0 25px ;
}

//textos
.textonav {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: lig;
}

.textdescripcion {
    text-decoration: none;
    text-align: center;
    font-size: $textomd;
    font-weight: lighter;
    font-family: 'Franklin Gothic lighter', 'Arial Narrow', Arial, sans-serif;
    margin: 1% 5%;


}
.sizer {
    @include sizer ( 640px, auto);
}

