//fondo 

//logo
.logo1 {
    width: 60px;
    height: 60px;
    padding: 5px;
}

.alinear {
    text-align: right;
    display: inline-block;
}

// camion etc


.camionaligne {
    display: inline-block;
    padding: 0 30px;
    color: #080D0A;
    text-align: center;
    width: 100%;
}

.svgsize {
    width: 50px;
    height: 50px;
} 

.sepprodicon {
    padding: 35px 0px 0px 25px;
}

.border {
    border-style: solid;
    border-width: 1px;
    padding: 25px;
    margin: 25px;
}

//productos
.sectioncontainer {
    @extend .sectionaligner2;
    padding-top: 5px
    flex-wrap nowrap
    display flex
    background-color #f1f1f1
    width 100px;
    margin: 10px
    text-align center
    line-height 75px
    font-size 30px
    text-decoration none;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }

.imagenprod {
    width: 250px;
    height: 220px;
    padding: 0% 30px;
}

.divsep {
    display: inline-block;
    margin: 15px 15px;
}

.septext {
    margin: 30px;
}

.texto-prod {
    text-align: center;
    color: rgb(8, 8, 8);
    font-weight: bold;
    font-size: large;
    margin: 0%;
}


//footer
.sectionaligner2 {
    text-align: center;
}

.alineacionredes {
    padding: 20px 25px;
    text-align: center;
    background-color: black;
    color: #8C5637;
    width: 100%;
}
.redes {
    width: 25px;
    height: 25px;
    padding: 0 20px;
    color: aliceblue;
}

//textos
.textonav {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: lighter;
}

.textdescripcion {
    text-decoration: none;
    text-align: center;
    font-size: $textomd;
    font-weight: lighter;
    font-family: 'Franklin Gothic lighter', 'Arial Narrow', Arial, sans-serif;
    margin: 1% 5%;
}
.sizer {
    @include sizer ( 640px, auto);
}

.title { 
    font-size: 6rem;
    color: #080D0A;
    @extend .sectionaligner2;
    text-decoration: none;
    font-weight: bold;
}

.container404 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: 745px;
}

.content {
    @extend .sectionaligner2;
    margin-bottom: 30px;
}

.back404 {
    background-image: url(../imagenes/tramado404.avif);
    background-size: cover;
    background-repeat: repeat;
}

.items {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 5%;
}

.grid-containercam {
    display: grid;
    place-items: center;
    grid-row-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: 
    "grid-itema grid-itemb grid-itemc grid-itemd";
    .grid-itema {
        grid-area: grid-item1;
    }
    .grid-itemb {
        grid-area: grid-item2;
    }
    .grid-itemc {
        grid-area: grid-item3;
    }
    .grid-itemd {
        grid-area: grid-item4;
    }   
}