


.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 15px;
    grid-template-areas: 
    "f1 f2"
    "f3 f4";
}
.f1 {
    grid-area: f1;
    display: grid;
    place-items: center;
}
.f2 {
    grid-area: f2;
    display: grid;
    place-items: center;
}
.f3 {
    grid-area: f3;
    display: grid;
    place-items: center;
}
.f4 {
    grid-area: f4;
    display: grid;
    place-items: center;
}

//newsletter
.fondonewsletter {
    background-color: #8C5B3F;
}
