//nav
.navbar {
  height: 60px; // Ajusta la altura
  color: #0e0101;
  background-color: $mainColor2;
}

.logo {
  width: 80px; // Ajusta el ancho según tus necesidades
  height: auto; // La altura se ajustará automáticamente
  margin: 10px;
}

//textos
.h1 {
  font-size: $textomgr;
  font-weight: $textbold;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 2%;
}

.texth2 {
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
  text-align: left;
  margin: 5px 20px;
}


//newsletter
.fondonewsletter {
  background-color: $mainColor;
  text-align:center;
  color: $black;
  font-weight: bold;
  font-size: $textomd;
  margin: 0%;
  padding: 5px;
  border-style: solid;
  border-width: 0.5px
}

.ingresomail {
margin: 0px auto;
padding: 5px;
border: $black 5px;
border-radius: 10%;
}

.botonsuscribir {
  background-color: whitesmoke;
  color: $black;
  font-size: 1em;
  text-decoration: none;
  border-radius: 10%;
}

//grids
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
    margin: 25px;
  }
  
  .grid-item {
    width: auto;
    height: auto;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  //descripcion: 
.textdes {
  text-align: center;
}

.texth2 {
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
  text-align: left;
  margin: 5p 20px;
}

  //productos