//nav
.navbar {
  height: 60px; // Ajusta la altura
  color: #0e0101;
  background-color: $mainColor2;
}

.logo {
  width: 80px; // Ajusta el ancho según tus necesidades
  height: auto; // La altura se ajustará automáticamente
  margin: 10px;
}

//textos
.h1 {
  font-size: $textomgr;
  font-weight: $textbold;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 2%;
}

.texth2 {
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
  text-align: left;
  margin: 5px 20px;
}


//newsletter
.fondonewsletter {
  background-color: $mainColor;
  text-align:center;
  color: $black;
  font-weight: bold;
  font-size: $textomd;
  margin: 0%;
  padding: 5px;
  border-style: solid;
  border-width: 0.5px
}

.ingresomail {
  margin: 0px auto;
  padding: 5px;
  border: $black 5px;
  border-radius: 10%;
}

.botonsuscribir {
  background-color: whitesmoke;
  color: $black;
  font-size: 1em;
  text-decoration: none;
  border-radius: 10%;
}

//grids
.grid-container {
    display: grid;
    place-items: center;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "grid-item1 grid-item2" "grid-item3 grid-item4";
    .grid-item1 {
      grid-area: grid-item1;
    }
    .grid-item2 {
      grid-area: grid-item2;
    }
    .grid-item3 {
      grid-area: grid-item3;
    }
    .grid-item4 {
      grid-area: grid-item4;
    }
}
.img-portobellos {
  width: none;
  height: auto;
}
.img-header {
  width: 500px;
  height: auto;
}  
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px black;
}

.image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 3rem;
  color: aliceblue;
}

  //descripcion: 
.textdes {
  text-align: center;
}

.texth2 {
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
  text-align: left;
  margin: 5p 20px;
}

  //productos

  //animaciones
.animatexto { 
  opacity: 0; /* párrafo oculto */
  animation: fadeIn 5s 1s both;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.animatitulo {
  opacity: 0; /* El párrafo estará oculto al principio */
  color: #8C5B3F; /* Color inicial del texto (marrón) */
  animation: fadeIn2 3s 1s both
}

@keyframes fadeIn2 {
  0% {
      opacity: 0; /* Comenzamos con opacidad 0 */
      color: #8C5B3F; /* Color inicial del texto (marrón) */
  }
  100% {
      opacity: 1; /* Terminamos con opacidad 1 */
      color: black; /* Color final del texto (negro) */
  }
}
