/* Color Theme Swatches in RGBA */
$color-theme_rgba: (8,13,10, 1);
$color-theme_rgba: (140,91,63, 1);
$color-theme_rgba: (191,154,131, 1);
$color-theme_rgba: (242,242,242, 1);
$color-theme_rgba: (191,191,191, 1);

