
/* galeria de imagenes para pagina de compra */
.gallery {
    position: relative;
    width: 500px; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto; /* Centra la galería horizontalmente */
  }
  
  .slideshow {
    display: flex;
    overflow: hidden;
  }
  
  .slideshow img {
    width: 100%;
    height: auto;
  }
  
  .navigation {
    text-align: center;
    margin-top: 10px;
  }
  
  .prev,
  .next {
    font-size: 20px;
    background-color: #f1f1f1;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .prev:hover,
  .next:hover {
    background-color: #ddd;
  }